html,
body {
    margin:0;
    padding:0;

    li {
        font-size: 12px;
        line-height: 30px;
    }

    .box {
        width: 120px;
        height: 120px;
        // 默认情况下，webpack无法处理css文件中的url地址，不管是图片还是字体库，只要是url地址，都处理不了
        background: url('../images/1.png');
        background-size: cover;
    }

    .box2 {
        width: 120px;
        height: 120px;
        // 默认情况下，webpack无法处理css文件中的url地址，不管是图片还是字体库，只要是url地址，都处理不了
        background: url('../images2/1.png');
        background-size: cover;
    }

    
}