body {
    background-color: #f3f5f7;
}

header {
    width: 1300px;
    height: 100px;
    margin:0 auto;
    padding-top: 30px;
    box-sizing: border-box;
}

.logo {
    width: 195px;
    height: 42px;
    float:left;
}

.logo a {
    width: 195px;
    height: 42px;
    display: block;
    background: url("../images/logo.png") no-repeat;
    text-indent: -9999px;
    overflow: hidden;
}

nav {
    float:left;
    margin-left: 25px;
}

nav li {
    float:left;
    height: 40px;
    line-height: 40px;
    margin-left:25px;
}

nav li a {
    display: block;
    height: 40px;
    font-size: 18px;
    padding:0 10px;
}

nav li a:hover {
    border-bottom: 2px solid #00a4ff;
}

.search {
    width: 410px;
    height: 40px;
    float:left;
    background-color: purple;
    margin-left: 100px;
}
.search input {
    width: 361px;
    height: 40px;
    border:1px solid #00a4ff;
    /*轮廓线*/
    outline: none;
    padding-left: 10px;
    float:left;
}

.search button {
    width:49px;
    height: 40px;
    border:0;
    outline: none;
    float:left;
    background: url("../images/search.png") no-repeat;
}

.personal {
    float:right;
    height: 40px;
    line-height: 40px;
}

.personal dt,
.personal dd {
    float:left;
}

.personal s{
    position: relative;
    padding: 0 20px;
    text-decoration: none;
}

.personal s::before {
    content: "";
    /*因为伪元素默认的是行内元素*/
    /*行内元素没有宽高*/
    display: block;
    width: 6px;
    height: 6px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    right:16px;
    top:0;
}

.personal span img {
    border-radius:50%;
    vertical-align: middle;
    margin-right:10px;
    transition: transform 0.6s;
}

.personal span:hover img {
    transform: rotate(-360deg);
}



.banner {
    height: 420px;
    background-color: #1c036c;
}

.inner {
    position: relative;
    height: 420px;
    /*background: url("../images/banner.png") no-repeat top center;*/
}

.subnav {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 190px;
    background: rgba(0,0,0,0.3);
    padding-top:12px;
}

.subnav li {
    position: relative;
    padding-left:20px;
    height: 44px;
    line-height: 40px;
    /*padding-right: 20px;*/
}

.subnav a {
    display: block;
    font-size: 14px;
    color:#fff;
}

.subnav a:hover {
    color:#00b4ff;
}

.subnav span {
    position: absolute;
    top:0;
    right:20px;
}

.circle {
    position: absolute;
    width: 176px;
    height: 20px;
    /*background-color: #fff;*/
    bottom:15px;
    left:50%;
    /*margin-left:-88px;*/
    /*下面这个等价于上面这个*/
    transform: translate(-50%,0);
}


.circle i {
    display: inline-block;
    background:rgba(255,255,255,0.4);
    width: 14px;
    height: 14px;
    border-radius: 7px;
    margin:0 5px;
    cursor:pointer;
}

.circle i:hover {
    width: 20px;
    background-color: #fff;
}

.timebook {
    width: 228px;
    height: 300px;
    position: absolute;
    right:0;
    top:50%;
    /*transform: translate(0,-50%);*/
    transform: translateY(-50%);
    background-color: pink;
}

